// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$teal: rgba(79, 109, 122, 1);
$light_blue: rgba(192, 214, 223, 1);
$white: rgba(219, 233, 238, 1);
$mid_blue: rgba(74, 111, 165, 1);
$dark_blue: rgba(22, 96, 136, 1);

$our-grey: #5e5d5d;
$our-blue: #42a2d6;
$our-light-blue: #dbe8ff;
$our-light-grey: #e6e6e6;
$blue-hover: #4199c8;
$our-mid-grey: #acbec7;
