<div>
  <div class="jcrop-photo">
    <% if max_dimension == 'width' %>
      <%= cl_image_tag(pic.photo.metadata['public_id'],
            width: 500, crop: :fill, id: "target") %>
    <% else %>
      <%= cl_image_tag(pic.photo.metadata['public_id'],
            height: 500, crop: :fill, id: "target") %>
    <% end %>
  </div>

  <div class="crop-save form-btn">Crop and save</div>

</div>

