<div>
  <div class="jcrop-photo">
      <%= cl_image_tag(pic.photo.metadata['public_id'], width: scaled_width,
            height: scaled_height, crop: :fill, id: "target", data: {id: photo_id, scale: scale }) %>
  </div>

  <div class="crop-save form-btn">Crop and save</div>

</div>

