.container-conversation {
  display: flex;
  height: 90vh;
  background-size: cover;
  background-position: center;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 0;
  border-radius: 3px;
  // .display-no-message{
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  h1 {
    font-size: 30px;
    padding: 0;
    margin-left: 100px;
  }
  h3 {
    font-size: 20px;
    font-style: italic;
    color: white;
    margin-left: 100px;
  }
  .home-btns{
    margin-left: 100px;
  }
}

.conversation-bar {
  width: 28%;
  height:100%;
  background-color: rgba(255,255,255,0.3);
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 3px 0 0 3px;
}

.conv-display-container {
  width: 72%;
}

.conversation-display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  h1 {
    text-align: center;
    margin: 0;
    padding: 50px;
  }

}

.conversation-topper {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  height: 55px;
  width: 100%;
  line-height: 50px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
  line-height: 40px;
  font-weight: bolder;
  box-shadow: 0 1px 8px rgba(0,0,0,0.1);
  img {
    margin: 0 16px;
  }
}

.convo-top-info {
  margin-right: 16px;
}

.dropdown-toggle {
  &:hover {
    cursor: pointer;
  }
  &:after {
    display:none;
  }
}

.comment {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.1);
  p {
    margin: 0;
  }
}

.bubble-left {
  max-width: 600px;
  position:relative;
  background-color: #bcffba;
  padding: 8px 12px;
  color: $our-grey;
  border-radius: 0 6px 6px 6px;
  margin-left: 20px;
  align-self: flex-start;
  opacity: 0.8;
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 15px solid #bcffba;;
    border-radius: 4px 0px 0px 0px;
  }
}

.bubble-right {
  max-width: 600px;
  float: right;
  position:relative;
  background-color: $our-light-blue;
  padding: 8px 12px;
  color: $our-grey;
  border-radius: 6px 0 6px 6px;
  margin-right: 20px;
  align-self: flex-end;
  opacity: 1;
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 15px solid $our-light-blue;
    border-radius: 0px 4px 0px 0px;
  }
}


.conversation-box {
  min-width: 195px;
  display: flex;
  height: 70px;
  transition: 0.3s ease;
  p {
    color: white;
  }
  img {
    margin: 10px;
    align-self: center;
  }
  &:hover {
    background-color: rgba(65, 153, 199, 0.7);
  }
}


.conversation-box-new {
  background-color: rgba(234, 9, 9, 0.7);
  &:hover {
    background-color: rgba(234, 9, 9, 0.8);
  }
}

@media (max-width: 992px) {
  .conversation-box {
    height: 110px;
  }
}

.conv-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgba(190, 190, 190, 0.5);
  margin-right: 12px;
}

.conv-box-top {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.conv-user-name {
  color: $our-grey;
  margin-top: 10px;
  margin-bottom: 0;
}

.conv-time {
  color: $our-grey;
  opacity: 0.5;
  font-size: 12px;
  margin-right: 16px;
  margin-top: 10px;
}

.conv-preview {
  color: $our-grey;
  opacity: 0.6;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 12px;
}

.conversation-box-active {
  background-color: $blue-hover;
  &:hover {
    background-color: $blue-hover;
  }
  p {
    color: white;
  }
}

.message-sent {
  background-color: $our-light-grey;
}

.message-received {
  background-color: $our-blue;
}

.send-icon {

}

textarea.typing-area {
    display: block;
    border-radius: 20px;
    box-sizing: padding-box;
    flex-grow: 1;
    overflow: hidden;
    height: 30px;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    resize: none;
    &:focus {
      outline: none;
    }
}

.new-message-container {
  margin-top: auto;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255,255,255,0.3);
  position: sticky;
  bottom: 0;
  border-radius: 0 0 3px 0;
}

.message-text-btn {
  display: flex;
  margin-left: 16px;
}

.fabutton {
  background: none;
  padding: 0px;
  border: none;
  margin-left: 12px;
  margin-right: 20px;
  &:focus {
      outline: none;
    }
}
